<div class="container">

  <aside class="sidebar">
    <div class="sidebarContainer">
      <h1>Skills </h1>
      <div class="settingList">
        <ul>
          <li> <a routerLink="/setting/user">Profile</a> </li>
          <li><a routerLink="/setting/skill">Skill</a></li>
          <li><a routerLink="/setting/experience">Experience</a></li>
        </ul>
      </div>
    </div>
    
  </aside>
  <main class="main">
    <div class="mainContainer">
    <div class="mainclass">
      <span>application is in production</span>
    </div>
    </div>
  </main>
</div>