.sidebarContainer {

  border: 1px solid rgba(35, 36, 37, 0.19);

  height: 510px;

  margin-right: 10px;
  padding: 40px 20px 0px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

ul {
  list-style-type: none;
}
.uploadImage{
  height: 200px;
  width: 200px;
  position: relative;
  border:5px solid #F3F5F9;
  border-radius: 50%;
  background-size: 100% 100%;
   margin: 20px auto;
  overflow: hidden;
}
.my_file{
  position: absolute;
  bottom:0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
}
.mainclass {
  display: block;
  margin: auto;
  padding-right: 200px;
  padding-left: 200px;
}

.mainContainer {
  border: 1px solid rgba(35, 36, 37, 0.19);

  height: 510px;

  margin-left: 10px;
  padding: 40px 20px 0px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;

}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.2em;
  position: relative;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label,
input {
  transition: all 0.001s;
  touch-action: manipulation;

}


input {
  background-color: #fff;
  font-size: 1.1em;
  border: 0;
  border-bottom: 1px solid #65B79F;

  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid#65B79F;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #65B79F;
  font-size: 1.1em;
}

/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown+label {
  cursor: text;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 1.45rem) scale(1.1);
}

/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
  color: transparent;
}

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}