<div class="container">

  <aside class="sidebar">
    <div class="sidebarContainer">
   
      <div class="settingList">
        <ul>
          <li> <a routerLink="/setting/user">User Profile</a> </li>
          <li><a routerLink="/setting/skill">Add Skill</a></li>
          <li><a routerLink="/setting/experience">Add Experience</a></li>
        </ul>
      </div>
    </div>

  </aside>
  <main class="main">
    <div class="mainContainer">
      <div class="mainclass">
        <span>application is in production</span>
      </div>
    </div>
  </main>
</div>