<div class="header">
  <div routerLinkActive="active" class="headerContent">
    
    <div class="show-desktop hide-mobile">
      <span routerLink="home" class="logo">Preferral</span>
      
      <span class="hide-desktop"  *ngIf="isAuth" routerLink="home">Home</span>
      <span class="hide-desktop" *ngIf="isAuth" routerLink="setting">Setting</span>
      <div  *ngIf="isAuth" (click)="onSignOut()" routerLink="auth/signin" class="logout">
        <img class="hide-desktop" src="../assets/Images/Vector_power.svg" alt="Se Déconnecter">
      </div>
     
    </div>
  </div>
  <div *ngIf="isAuth" class="show-mobile">
    <img src="../assets/Images/menu.svg" alt="toggle menu" class="menu" id="menu">
  
  </div>
</div>