<div class="container">

  <aside class="sidebar">
    <div class="sidebarContainer">

      <div class="settingList">
        <ul>
          <li> <a routerLink="/setting/user">User Profile</a> </li>
          <li><a routerLink="/setting/skill">Add Skill</a></li>
          <li><a routerLink="/setting/experience">Add Experience</a></li>
        </ul>
      </div>
    </div>

  </aside>
  <main class="main">
    <div class="mainContainer">
      <div class="mainclass">
        <div class="smallCard">

          <div class="progressBar">
            <h2>Maitrise du Html 5</h2>
            <div class="progressBarAndImage">
              <div id="progressbar">
                <div>96%</div>
              </div>
              <img class="setImage" src="../assets/Images/Group1.png" alt="usericon">
              </div>
          </div>

        </div>
        <div class="smallCard">
        
          <div class="progressBar">
            <h2>Maitrise du Css 3</h2>
            <div class="progressBarAndImage">
              <div id="progressbar2">
                <div>90%</div>
              </div>
              <img class="setImage" src="../assets/Images/Group2.png" alt="usericon">
            </div>
          </div>
        
        </div>
        <div class="smallCard">
        
          <div class="progressBar">
            <h2>Maitrise du Javascript </h2>
            <div class="progressBarAndImage">
              <div id="progressbar3">
                <div>98%</div>
              </div>
              <img class="setImage" src="../assets/Images/Group3.png" alt="usericon">
            </div>
          </div>
        
        </div>
        <div class="smallCard">
        
          <div class="progressBar">
            <h2>Maitrise d'Angular</h2>
            <div class="progressBarAndImage">
              <div id="progressbar4">
                <div>94%</div>
              </div>
              <img class="setImage" src="../assets/Images/Group4.png" alt="usericon">
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </main>
</div>