<div class="container">
<section class="wrap">
  <img class="resizeImg" src="../assets/Images/camera.png" alt="">
  <div  class="rightSide">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="bigSpacer"></div>
    <h1>Sign up</h1>
    <p class="error"> {{errorMessage}} </p>
    <div class="bigSpacer"></div>

        <div class="field">
          <input type="email" formControlName="email" name="email" id="email"
           placeholder="email@email.com"
            >
          <label for="email"><img src="../assets/Images/userIcon.svg" alt="usericon">USERNAME</label>
        </div>
        <div class="smallSpacer"></div>
        <div class="field">
          <input type="password" formControlName="password"
           name="password" id="password" placeholder="password"
            >
          <label for="password">
            <div class="labelClass">
              <div class="passwordandIcon"> <img src="../assets/Images/password.svg" alt="usericon">password</div><img
                class="imgClass" src="../assets/Images/eyePassword.svg" alt="usericon">
            </div>
          </label>
        </div>
        <div class="bigSpacer"></div>

          <button type="submit" [disabled]="signUpForm.invalid" class="loginButton">
            Create account
          </button>

      <div class="smallSpacer"></div>
      <div class="centerContainer">
      <div class="signupLink">
        <span>Existing user?<a routerLink="/login" class="changeColor">login</a></span>
      </div>
      <div class="smallSpacer"></div>
    </div>
   </form>
  </div>

</section>

</div>