

  <section class="wrap">
    <img class="resizeImg" src="../assets/Images/camera.png" alt="">
    <div class="rightSide">

      <div class="headerSpacer"></div>

      <h1>Sign Up</h1>
      <p class="error"> {{errorMessage}} </p>
      <div class="bigSpacer"></div>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <input type="email" formControlName="email" name="email" id="email" placeholder="USERNAME">
          <label for="email"><img class="setImage" src="../assets/Images/userIcon.svg" alt="usericon">username</label>
        </div>
        <div class="bigSpacer"></div>
        <div class="field">
          <input type="password" formControlName="password" name="Password" id="Password" placeholder="PASSWORD"
            [type]=" hide ?'password':'text'">
          <label for="Password">

            <img class="setImage" src="../assets/Images/password.svg" alt="usericon">
            password

          </label>
          <div class="imgClass">
            <i class="material-icons imgClass changeColor" matSuffix (click)="hide =!hide">
              {{hide ? 'visibility': 'visibility_off'}}
            </i>
          </div>

        </div>
      <div class="bigSpacer"></div>
      <div class="bigSpacer"></div>

        <button type="submit" [disabled]="signUpForm.invalid" class="loginButton">
          Create account
        </button>
      </form>

      <div class="bigSpacer"></div>
      <div class="centerContainer">
        <div class="signupLink">
          <span>Existing user?<a routerLink="/auth/signin" class="changeColor"> Log in</a></span>
        </div>
        <div class="smallSpacer"></div>
      </div>

    </div>

  </section>

