.rightSide {
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.resizeImg {
  width: 320px;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.2em;
  position: relative;
}

label,
input {
  transition: all 0.001s;
}

.hide-desktop {
  display: none;
}

input {
  font-size: 1.1em;
  border: 0;
  border-bottom: 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  margin-bottom: 35px;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid#65B79F;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #65B79F;
  font-size: 1.1em;
}

input:placeholder-shown+label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left;
  transform: translate(0, 1.37rem) scale(1.1);
  width: 275px;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
  color: #F3F5F9;
}

input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.imgClass {
  position: absolute;
  top: 9px;
  right: 0;
  cursor: pointer;
}

.loginButton {
  cursor: pointer;
  background: #65B79F;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;
  display: block;
  margin: auto;
}

.error {
  display: block;
  width: 360px;
  color: red;
  margin: auto;
  text-align: justify;
}

.changeColor {
  color: #65B79F;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
}

span {
  text-align: center;
}

.centerContainer {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 35px;
}

@media only screen and (min-width: 360px) {
  .resizeImg {
    width: 360px;
  }

}

@media only screen and (min-width: 375px) {
  .resizeImg {
    width: 375px;
  }

}

@media only screen and (min-width: 400px) {
  .resizeImg {
    width: 400px;
  }

  @media only screen and (min-width: 414px) {
    .resizeImg {
      width: 414px;
    }
  }

  @media only screen and (min-width: 480px) {
    .resizeImg {
      width: 480px;
    }
  }


}

@media only screen and (min-width: 650px) {
  .resizeImg {
    width: 650px;
  }

}

@media only screen and (min-width: 750px) {
  .resizeImg {
    width: 750px;
  }

}

@media only screen and (min-width: 768px) {
  .resizeImg {
    width: 768px;
  }

}

@media only screen and (min-width: 900px) {
  .resizeImg {}

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .signinClass {
    margin-left: 65px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  h1 {

    margin-bottom: 50px;
  }

  .rightSide {
    margin: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    background-color: #F3F5F9;

  }

  .centerContainer {

    margin-bottom: 50px;
    margin-top: 50px;
  }

  input {
    background-color: #F3F5F9;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .resizeImg {}

  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  h1 {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .centerContainer {

    margin-bottom: 70px;
    margin-top: 70px;
  }

  .signinClass {
    margin-left: 80px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .rightSide {
    margin: 0;
    padding-left: 40px;
    padding-top: 0;
    padding-right: 0;
    background-color: #F3F5F9;

  }

  input {
    background-color: #F3F5F9;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1324px) {
  .resizeImg {
    width: 560px;
    height: 606px;
  }

  h1 {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .centerContainer {

    margin-bottom: 70px;
    margin-top: 70px;
  }

  .signinClass {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
  }

  .rightSide {
    margin: 0;
    padding-left: 100px;
    padding-top: 0;
    padding-right: 0;
    background-color: #F3F5F9;

  }

  input {
    background-color: #F3F5F9;
    width: 100%;
    margin-bottom: 50px;
  }
}
