/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  color: rgb(12, 7, 2);
  font-family: 'Montserrat', sans-serif;
 background-color: #F3F5F9;

}
*{
  outline: 0;
}
.forAllContainer{
  margin-top: 50px;
 
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
   padding-top: 20px;
}
.spacer {
  margin-top: 40px;
}
.sidebar {
  flex:20%; 
}

.main {
  flex: 80%;
  
}
@media only screen and (max-width: 375px) {
  .container{
    margin-left: 0;
    margin-right: 0;
  }
}

