

  <section class="wrap">
    <img class="resizeImg" src="../assets/Images/camera.png" alt="">
    <div class="rightSide">

      <div class="bigSpacer"></div>
      <h1>Sign In</h1>
      <p class="error"> {{errorMessage}} </p>
      <div class="bigSpacer"></div>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <input type="email" formControlName="email" name="email" id="email" placeholder="USERNAME">
          <label for="email"><img class="setImage" src="../assets/Images/userIcon.svg" alt="usericon">username</label>
        </div>
        <div class="bigSpacer"></div>
        <div class="field">
          <input type="password" formControlName="password" name="Password" id="Password" placeholder="Password"
            [type]=" hide ?'password':'text'">
          <label for="Password">

            <img class="setImage" src="../assets/Images/password.svg" alt="usericon">
            password

          </label>
          <img (click)=onChangeView() class="imgClass" src="../assets/Images/eyePassword.svg" alt="usericon">

        </div>
        <div class="bigSpacer"></div>
        <div class="bigSpacer"></div>

        <button type="submit" [disabled]="signInForm.invalid" class="loginButton">
          Log In
        </button>
      </form>
      <div class="bigSpacer"></div>

      <div class="centerContainer">
        <div class="signupLink">
          <span>Not registered yet?<a routerLink="/auth/signup" class="changeColor"> Sign up</a></span>
        </div>

        <div class="smallSpacer"></div>
      </div>

    </div>

  </section>

